{% extends "layout.html" %} 

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="img-responsive" style="height: 100%;" src="./images/logo.png" alt="QR Logo" title="QR" />
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
                        <li><a href="javascript:void(0)">Welcome, {{ user.name }}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="javascript:void(0)">Management</a></li>
                        <li><a href="javascript:void(0)">Setting</a></li>
                        <li><a href="javascript:void(0)" id="do-logout">Logout</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
    <a href="javascript:void(0)" class="chat-room chat-active" id="a-user"
     data-gtype="users">
        <span class="chatimg">
            <img src="./images/setting.png" alt="chat-room-icon" />
        </span>
        <div class="chat-room-info">
            <div class="chat-room-name">User List</div>
            <div class="chat-room-status">Management of user</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="chat-room" id="a-org"
     data-gtype="orgs">
        <span class="chatimg">
            <img src="./images/setting.png" alt="chat-room-icon" />
        </span>
        <div class="chat-room-info">
            <div class="chat-room-name">Organization List</div>
            <div class="chat-room-status">Management of room</div>
        </div>
    </a>
    <!-- <a href="javascript:void(0)" class="chat-room" id="a-room"
     data-gtype="rooms">
        <span class="chatimg">
            <img src="./images/setting.png" alt="chat-room-icon" />
        </span>
        <div class="chat-room-info">
            <div class="chat-room-name">Room List</div>
            <div class="chat-room-status">Management of organization</div>
        </div>
    </a> -->
    </div>
    <div class="col-sm-8">
        <div class="chatbody">
            <div class="chatbody-loading">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <table class="table" style="display: none;">
                <tbody>
                <!-- <tr>
                    <td class="avatar avatar-me"><img src="http://via.placeholder.com/50x50?text=A" /></td>
                    <td class="display-msg my-msg">
                    <p><span class="display-msg-username">giangtp</span> 15:20</p>
                    <p>Hi</p>
                    </td>
                    <td class="msg-info">
                        Opts
                    </td>
                </tr> -->
                </tbody>
            </table>
        </div>
        <div class="row">
            <button type="button" class="btn btn-default new-record"><i class="fa fa-plus"></i> New</button>
        </div>
    </div>
</div>

<form id="fm-logout" action="/logout" method="post" class="invisible">
</form>
<input type="hidden" id="user" value="{{ user.username }}">

<!-- Modal -->
<div class="modal fade" id="qr-modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create</h4>
      </div>
      <div class="modal-body">
        <form id="fm-create-orgs" class="hide">
            <div class="form-group">
                <label for="fm-org-code">Code</label>
                <input type="text" class="form-control" id="fm-org-code" placeholder="Code">
            </div>
            <div class="form-group">
                <label for="fm-org-name">Name</label>
                <input type="text" class="form-control" id="fm-org-name" placeholder="Name">
            </div>
        </form>
        <form id="fm-create-rooms" class="hide">
            <div class="form-group">
                <label for="fm-room-code">Code</label>
                <input type="text" class="form-control" id="fm-room-code" placeholder="Code">
            </div>
            <div class="form-group">
                <label for="fm-room-name">Name</label>
                <input type="text" class="form-control" id="fm-room-name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="fm-room-org">Organization</label>
                <select id="fm-room-org" class="form-control">
                </select>
            </div>
        </form>
        <form id="fm-create-users" class="hide">
            <div class="form-group">
                <label for="fm-user-username">Username <span style="color: red;">*</span></label>
                <input type="text" class="form-control" id="fm-user-username" placeholder="Username" name="username">
            </div>            
            <div class="form-group">
                <label for="fm-user-name">Full Name</label>
                <input type="text" class="form-control" id="fm-user-name" placeholder="name" name="name">
            </div>              
            <div class="form-group">
                <label for="fm-user-role">Role</label>
                <select id="fm-user-role" class="form-control">
                    <option value="member">Member</option>
                    <option value="admin">Admin</option>
                </select>
            </div>      
            <div class="form-group">
                <label for="fm-user-avatar">Avatar (URL of image)</label>
                <input type="text" class="form-control" id="fm-user-avatar" placeholder="avatar" name="avatar">
            </div>        
            <div class="form-group">
                <label for="fm-user-email">Email</label>
                <input type="text" class="form-control" id="fm-user-email" placeholder="email" name="email">
            </div>
            <div class="form-group">
                <label for="fm-user-password">Password <span style="color: red;">*</span></label>
                <input type="password" class="form-control" id="fm-user-password" placeholder="Password" name="password">
            </div>
            <div class="form-group">
                <label for="fm-user-password2">Re-enter Password <span style="color: red;">*</span></label>
                <input type="password" class="form-control" id="fm-user-password2" placeholder="Password" name="password2">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-fm-submit">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="qr-fm-search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add User</h4>
      </div>
      <div class="modal-body">
        <form id="fm-orgs-add-user">
            <div class="form-group ui-widget">
                <label for="fm-username">User</label>
                <input type="text" class="form-control" id="fm-search-username" placeholder="username">
                <input type="hidden" id="fm-search-org-code" value="">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-fm-search-submit">Add</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<!-- socket.io for client side -->
<script src="/js/main.js"></script>
<script src="/js/admin.js"></script>
{% endblock %}