{% extends "layout.html" %} 

{% block content %}
<div class="bg-waitting">
    <div class="cssload-preloader">
    <div class="cssload-preloader-box">
        <div>L</div>
        <div>o</div>
        <div>a</div>
        <div>d</div>
        <div>i</div>
        <div>n</div>
        <div>g</div>
    </div>
    </div>
</div>
<div id="page-main">
<div class="row" style="box-sizing: border-box;">
    <div class="page-multi-task">
        <iframe src=""></iframe>
        <div>
            <i class="fa fa-expand fa-2x page-multi-task-full"></i>
            <i class="fa fa-window-close fa-2x page-multi-task-close"></i>
        </div>
    </div>
    <div class="col-sm-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="img-responsive" style="height: 100%;" src="./images/logo.png" alt="QR Logo" title="QR" />
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="javascript:void(0)">Home <span class="sr-only">(current)</span></a></li>
                        <li><a href="javascript:void(0)">Welcome, {{ user.name }}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if (user.role == 'admin') %}
                        <li><a href="/admin">Management</a></li>
                        {% endif %}
                        <li><a href="javascript:void(0)" class="nav-setting">Setting</a></li>
                        <li><a href="javascript:void(0)" id="do-logout">Logout</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 chat-room-list">
        <button class="btn chat-room-btn hidden" id="collapse-chat-room-list-btn" type="button" data-toggle="collapse" data-target="#collapse-chat-room-list" 
        aria-expanded="false" aria-controls="collapse-chat-room-list">
            <i class="fa fa-bars fa-lg"></i>
        </button>
        <button class="btn chat-room-btn" id="new-room-btn" title="add new room">
            <i class="fa fa-plus-circle fa-lg"></i>
        </button>
        <div class="collapse in" id="collapse-chat-room-list">
            <a href="javascript:void(0)" class="chat-room chat-active" id="r-room"
             data-room="room" data-org="W">
                <span class="chatimg">
                    <img src="./images/room-public.png" alt="chat-room-icon" />
                </span>
                <div class="chat-room-info">
                    <div class="chat-room-name">World Room</div>
                    <div class="chat-room-status">
                        Online: <span class="chat-room-online">0</span>&nbsp;&nbsp;
                        <i class="fa fa-users chat-room-list-member" title="view member list"></i>&nbsp;&nbsp;
                        <span class="chat-room-unread badge"></span>
                    </div>
                </div>
                <div class="chat-room-change-room"></div>
            </a>
            {% for room in rooms %}
            <a href="javascript:void(0)" class="chat-room" id="r-{{ room.code }}"
             data-room="{{ room.code }}" data-org="{{ room.org }}">
                <span class="chatimg">
                    <img src="{{ room.avatar }}" alt="chat-room-icon" />
                </span>
                <div class="chat-room-info">
                    <div class="chat-room-name">{{ room.name }}</div>
                    <div class="chat-room-status">
                        Online: <span class="chat-room-online">0</span>&nbsp;&nbsp;
                        <i class="fa fa-users chat-room-list-member" title="view member list"></i>&nbsp;&nbsp;
                        <i class="fa fa-user-plus chat-room-add-member" title="add members"></i>&nbsp;&nbsp;
                        <span class="chat-room-unread badge"></span>
                    </div>
                </div>
                <div class="chat-room-change-room"></div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-9">
        <div class="chatbody">
            <div class="chatbody-overlay">
                <i class="fa fa-spinner fa-spin fa-2x fa-pulse"></i>
            </div>
            <table class="table">
                <tbody>
                {% for chat in chats %}
                <tr>
                    <td class="avatar {{ "my-avatar" if (chat.username == user.username) }}">
                        <img src="{{ chat.avatar }}" alt="avatar" />
                    </td>
                    <td class="display-msg {{ "my-msg" if (chat.username == user.username) }}">
                    <p class="display-msg-header"><span class="display-msg-header-username">{{ chat.name }}</span>&nbsp;&nbsp;
                    <span class="display-msg-header-time">{{ chat.time }}</span></p>
                    <p class="display-msg-content" data-remsg="{{ chat.msg }}">{{ chat.msg }}</p>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-10 col-xs-9">
                <textarea class="form-control input-chat-msg" placeholder="Input message here..." 
                data-emojiable="true" autofocus="true" required="true"></textarea>
            </div>
            <div class="col-sm-2 col-xs-3" style="padding-left: 0;">
                <button class="btn btn-info btn-block btn-chat-submit">Send</button>
            </div>
        </div>
    </div>
</div>

<form id="fm-logout" action="/logout" method="post" class="invisible">
</form>

<input type="hidden" id="user" value="{{ user.username }}" data-username="{{ user.username }}" 
    data-name="{{ user.name }}" data-email="{{ user.email }}" data-avatar="{{ user.avatar }}" disabled />

<!-- Modal -->
<div class="modal fade" id="qr-modal-room" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Room</h4>
      </div>
      <div class="modal-body">
        <form id="fm-room">
            <div class="form-group">
                <label for="fm-room-name">Name</label>
                <input type="text" class="form-control" id="fm-room-name" placeholder="room name">
                <input type="hidden" id="fm-room-org" value="">
            </div>
            <div class="form-group">
                <label for="fm-room-avatar">Icon</label>
                <input type="text" class="form-control" id="fm-room-avatar" placeholder="room avatar (url)">
            </div>
            <div class="form-group ui-widget">
                <label for="fm-room-users">Users</label>
                <input type="text" class="form-control" id="fm-room-users" placeholder="add users to this room">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-fm-room-submit">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="qr-modal-add-member" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Members</h4>
      </div>
      <div class="modal-body">
        <form id="fm-add-member">
            <div class="form-group">
                <label for="fm-add-member-room">Room</label>
                <input type="text" class="form-control" id="fm-add-member-room" placeholder="room name" disabled />
                <input type="hidden" id="fm-add-member-room-code" disabled />
                <input type="hidden" id="fm-add-member-org-code" disabled />
            </div>
            <div class="form-group ui-widget">
                <label for="fm-add-member-users">Users</label>
                <input type="text" class="form-control" id="fm-add-member-users" placeholder="add users to this room">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-fm-add-member-submit">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="qr-modal-room-list-member" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Members</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover qr-modal-room-list-member-table">
            <tr>
                <th></th>
                <th>Username</th>
                <th>Status</th>
            </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="qr-modal-setting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Setting</h4>
      </div>
      <div class="modal-body">
        <p>Note: To update the changes, you will be forced to re-login.</p>
        <form id="fm-setting">
            <div class="form-group">
                <label for="fm-setting-username">Username</label>
                <input type="text" class="form-control" id="fm-setting-username" value="{{ user.username }}" disabled />
            </div>
            <div class="form-group">
                <label for="fm-setting-name">Name</label>
                <input type="text" class="form-control" id="fm-setting-name" value="{{ user.name }}">
            </div>
            <div class="form-group">
                <label for="fm-setting-email">Email</label>
                <input type="text" class="form-control" id="fm-setting-email" value="{{ user.email }}">
            </div>
            <div class="form-group">
                <label for="fm-setting-avatar">Avatar (external url)</label>
                <input type="text" class="form-control" id="fm-setting-avatar" value="{{ user.avatar }}">
            </div>
            <div class="form-group">
                <label for="fm-setting-password">Password</label>
                <input type="password" class="form-control" id="fm-setting-password" placeholder="password">
            </div>
            <div class="form-group">
                <label for="fm-setting-repassword">Re-Password</label>
                <input type="password" class="form-control" id="fm-setting-repassword" placeholder="re-type password">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-fm-setting-submit">Update</button>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block script %}
<!-- socket.io for client side -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<!-- <script src="/js/forge.all.min.js"></script> -->
<script src="/js/emoji/config.js"></script>
<script src="/js/emoji/util.js"></script>
<script src="/js/emoji/jquery.emojiarea.js"></script>
<script src="/js/emoji/emoji-picker.js"></script>
<!-- <script src="/js/qrservice.js"></script> -->
<script src="/js/qrs.js"></script>
<script src="/js/main.js"></script>
{% endblock %}