{% extends "layout.html" %} 

{% block content %}
<div class="bg-waitting">
    <div class="cssload-preloader">
    <div class="cssload-preloader-box">
        <div>L</div>
        <div>o</div>
        <div>a</div>
        <div>d</div>
        <div>i</div>
        <div>n</div>
        <div>g</div>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="img-responsive" style="height: 100%;" src="./images/logo.png" alt="QR Logo" title="QR" />
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="javascript:void(0)">Home <span class="sr-only">(current)</span></a></li>
                        <li><a href="javascript:void(0)">Welcome, {{ user.name }}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:void(0)">Setting</a></li>
                        <li><a href="javascript:void(0)" id="do-logout">Logout</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
    <a href="javascript:void(0)" class="chatperson chat-active">
        <span class="chatimg">
            <img src="./images/room-public.png" alt="chat-room" />
        </span>
        <div class="namechat" id="qr-w-room">
            <div class="pname">World Room</div>
            <div class="lastmsg">Online: <span>5</span></div>
        </div>
    </a>
    {% for room in gRooms %}
        <a href="javascript:void(0)" class="chatperson">
            <span class="chatimg">
                <img src="./images/room-public.png" alt="chat-room" />
            </span>
            <div class="namechat" id="qr-g-{{ room.code }}">
                <div class="pname">{{ room.name }}</div>
                <div class="lastmsg">Online: <span>5</span></div>
            </div>
        </a>
    {% endfor %}
    {% for room in rooms %}
        <a href="javascript:void(0)" class="chatperson">
            <span class="chatimg">
                <img src="./images/room-public.png" alt="chat-room" />
            </span>
            <div class="namechat" id="qr-m-{{ room.code }}">
                <div class="pname">{{ room.name }}</div>
                <div class="lastmsg">Online: <span>0</span></div>
            </div>
        </a>
    {% endfor %}
    </div>
    <div class="col-sm-8">
        <div class="chatbody">
            <table class="table">
                <tbody>
                <!-- <tr>
                    <td class="avatar avatar-me"><img src="http://via.placeholder.com/50x50?text=A" /></td>
                    <td class="display-msg">
                    <p>giangtp 15:20</p>
                    <p>Hi</p>
                    </td>
                    <td class="msg-info">
                        Opts
                    </td>
                </tr> -->
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-10 col-xs-9">
                <textarea class="form-control input-chat-msg" placeholder="Input message here..." autofocus="true" required="true"></textarea>
            </div>
            <div class="col-sm-2 col-xs-3">
                <button class="btn btn-info btn-block btn-chat-submit">Send</button>
            </div>
        </div>
    </div>
</div>
<form id="fm-logout" action="/logout" method="post" class="invisible">
</form>
<input type="hidden" id="user" value="{{ user.username }}">

    {% endblock %}

{% block script %}
<!-- socket.io for client side -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="/js/qrservice.js"></script>
<script src="/js/qrs.js"></script>
<script src="/js/main.js"></script>
{% endblock %}